@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
  color: #8d8d8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease;
}

a:hover {
  text-decoration: none;
}

img {
  object-fit: cover;
  display: block;
}

.py {
  padding: 140px 0;
}

@media (max-width: 768px) {
  .py {
    padding: 30px 0;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

hgroup {
  text-align: center;
  padding: 50px 0;
}

hgroup h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

hgroup p {
  color: #c47300;
}

.btn {
  background-color: #c47300;
  padding: 0.5em 1.5em;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  transition: all 0.4s ease;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(196, 115, 0, 0.8);
}

/**************
HEADER
**************/
header {
  /* owl craousel */
}

header nav {
  position: absolute;
  z-index: 3;
  width: 100%;
}

header nav .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 2px solid #ffffff;
  position: relative;
  perspective: 900px;
}

@media (max-width: 768px) {
  header nav .container {
    width: 90%;
  }
}

header nav .container .logo {
  padding: 25px 0;
}

header nav .container .menuBtn {
  height: 50px;
  width: 50px;
  align-self: center;
  font-size: 1.8rem;
  background: transparent;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: none;
}

@media (max-width: 1030px) {
  header nav .container .menuBtn {
    display: block;
  }
}

header nav .container .menuBtn:hover {
  background-color: #ffffff;
  color: #010101;
}

header nav .container .menuBtn.active {
  background-color: #ffffff;
  color: #010101;
}

header nav .container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 1030px) {
  header nav .container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 10px 0;
    transform-origin: center top;
    transition: transform 0.4s ease;
    transform: scale(1, 0);
  }
  header nav .container ul.active {
    transform: scale(1);
  }
}

@media (max-width: 1030px) {
  header nav .container ul li {
    width: 100%;
  }
}

header nav .container ul li a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 15px;
  padding: 0 12px;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
  height: 100%;
}

@media (max-width: 1030px) {
  header nav .container ul li a {
    margin-left: 0;
    line-height: 2;
    width: 100%;
  }
}

header nav .container ul li a:hover {
  background: #ffffff;
  color: #010101;
}

header > article {
  position: relative;
}

header > article .item {
  position: relative;
  height: 90vh;
}

header > article .item::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.3));
  z-index: 2;
}

header > article img {
  height: 100%;
}

header .owl-item {
  height: 100%;
  position: relative;
}

header .owl-item hgroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 80%;
  padding: 0 5%;
}

header .owl-item hgroup h2 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 40px;
}

header .owl-item hgroup p {
  color: #ffffff;
}

header .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 768px) {
  header .owl-nav {
    width: 90%;
  }
}

header .owl-nav button:hover {
  background: transparent;
}

header .owl-nav button i {
  font-size: 2rem;
  color: #ffffff;
}

header .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
}

header .owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

header .owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 12px;
  width: 12px;
}

header .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

/**************
SERVICES
**************/
.services {
  padding: 50px 0;
  background-color: #c47300;
}

.services article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.services article div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex: 0 0 25%;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .services article div {
    flex: 0 0 50%;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .services article div {
    flex: 0 0 100%;
  }
}

.services article div h4 {
  font-weight: 900;
  margin: 15px 0;
}

.services article div p {
  flex: 1;
  font-weight: 300;
}

/**************
ABOUT
**************/
.about {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.99) 45%, rgba(255, 255, 255, 0.3)), url(../img/about-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about article div {
  padding: 150px 0;
  width: 45%;
}

@media (max-width: 768px) {
  .about article div {
    padding: 100px 0;
    width: 100%;
    color: #010101;
  }
}

.about h2 {
  font-weight: 700;
  margin-bottom: 50px;
}

.about p {
  font-size: 1rem;
  line-height: 1.6;
}

/**************
WELCOME
**************/
.welcome, .team {
  padding: 100px 0;
}

.welcome article, .team article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.welcome article .card, .team article .card {
  flex: 0 0 32%;
}

@media (max-width: 768px) {
  .welcome article .card, .team article .card {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.welcome article .card-header, .team article .card-header {
  height: 255px;
  overflow: hidden;
}

.welcome article .card-body, .team article .card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.welcome article .card h3, .team article .card h3 {
  margin: 25px 0;
  font-size: 1.5rem;
  line-height: 1;
}

.welcome article .card p, .team article .card p {
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 1.5;
}

.welcome article .card img, .team article .card img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s linear;
}

.welcome article .card img:hover, .team article .card img:hover {
  transform: scale(110%);
}

/*************
experiance
*************/
.experience {
  background: linear-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.8)), url("../img/header-slide-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  color: #ffffff;
}

.experience article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

.experience article .wrapper {
  flex: 1;
}

@media (max-width: 768px) {
  .experience article .wrapper {
    flex: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .experience article .wrapper {
    flex: 100%;
  }
}

.experience article img {
  margin: 0 auto;
}

.experience article h3 {
  font-size: 1.8rem;
  margin-top: 20px;
}

/*************
what we do
*************/
.whatWeDo {
  padding: 100px 0 50px;
}

.whatWeDo hgroup:last-of-type {
  padding-bottom: 0;
}

.whatWeDo article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.whatWeDo article .card {
  flex: 0 0 23%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .whatWeDo article .card {
    flex: 0 0 49%;
    margin-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .whatWeDo article .card {
    flex: 0 0 100%;
  }
}

.whatWeDo article .card:hover > .card-body {
  transform: translate(0, 0);
}

.whatWeDo article .card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(196, 115, 0, 0.5);
  transition: transform 0.4s ease;
  transform: translate(100%, 100%);
}

.whatWeDo article .card:nth-child(odd) .card-body {
  transform: translate(-100%, -100%);
}

.whatWeDo article .card:nth-child(odd):hover > .card-body {
  transform: translate(0, 0);
}

.whatWeDo article .card h3 {
  font-size: 1.3rem;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 0 2px #010101;
}

.whatWeDo article .card img {
  width: 100%;
  height: 100%;
}

/*************
team
*************/
.team {
  padding-top: 50px;
}

.team article .card {
  flex: 0 0 23%;
}

@media (max-width: 1200px) {
  .team article .card {
    flex: 0 0 49%;
    margin-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .team article .card {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.team article .card-header {
  border-radius: 50%;
  height: auto;
}

.team article .card-footer {
  text-align: center;
}

.team article .card-footer a {
  margin-left: 10px;
  border: 1px solid #8d8d8d;
  display: inline-block;
  height: 1.7em;
  width: 1.7em;
  line-height: 1.7em;
  text-align: center;
  transition: background-color 0.4s ease, border 0.4s ease, color 0.4s ease;
}

.team article .card-footer a:hover {
  border: 1px solid #c47300;
  background-color: #c47300;
  color: #ffffff;
}

.team article .card p {
  color: #c47300;
}

/*************
footer
*************/
footer {
  background: linear-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.8)), url(../img/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

footer article:first-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 80px 0;
}

footer article:first-child div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  flex: 1;
}

@media (max-width: 768px) {
  footer article:first-child div {
    flex: 0 0 50%;
    margin-bottom: 2%;
  }
}

@media (max-width: 480px) {
  footer article:first-child div {
    flex: 0 0 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

footer article:first-child div form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

footer article:first-child div form * {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

footer article:first-child div form *:not(button) {
  font-size: 0.9rem;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

footer article:first-child div form textarea {
  flex: 1;
  display: block;
  resize: none;
}

footer article:first-child h3 {
  margin-bottom: 30px;
}

footer article:first-child ul li {
  line-height: 2.5;
}

footer article:last-child {
  background: #c47300;
  text-align: center;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */