@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
$headings: "Roboto", sans-serif;
$textFont: "Roboto", sans-serif;
$fontSize: 16px;

$white: #ffffff;
$black: #010101;
$orange: #c47300;
$gray: #8d8d8d;

$shadow: #d8d8d8;

$transition: 0.4s ease;

$boxShadow: 0 10px 20px 0px rgba($black, 1);

$py: 140px 0;
$containerWidth: 80%;
